*{
	text-align: center;
	margin: 0px;
	padding: 0px;
}


.calc{
	padding: 20px;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(4, 66px);
	width: 300px;
	height: 480px;
	gap:5px;
	margin: auto;
	box-shadow: 5px 10px 18px 11px #888;
	border-radius: 15px;
	background-color: dimgrey;
	border:groove #f3f3f3;
}


.scn{
	grid-column: span 4;
	margin:20px;
	height: 60px;
	width: 250px;
	border-radius: 15px;
	text-align: right;
	font-size: 50px;
	border-color: #ff3;
	box-shadow: inset 5px 10px 10px #888 ;
	font-weight: 20px;


}

button{
	height: 58px;
	width:58px;
	border-radius: 31px;
	border-color: #ff3;
	font-size: 1.3rem;
	box-shadow:  5px 10px 18px #888 ;
	

	
}

.link img{
	height: 100px;
	width:100px;
}

.link{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 100px;
 	background:linear-gradient(170deg, black, silver) ;
	margin-bottom: 40px;
	color: white;

}
.link a{
	text-decoration: none;
	color: white;
	padding: 10px;
}


 .foot{
 	background:linear-gradient(170deg, black, silver) ;
 	padding: 30px;
 	color: silver;
 	text-align: center;
 	border-radius: 10px;
 	margin-top: 50px;
 }
.foot a img{
	width: 20px;
}
 .foot a{
     padding: 20px;
     color: silver;
 }